
<div class="card" id="<%= dom_id user %>">
  <h5 class="card-header">
    <%= link_to user, class: "btn btn-outline-primary right" do %>
      <i class="bi bi-pencil"></i>
    <% end %>
    <%= user.username %>
  </h5>
  <div class="card-body">
    <p class="card-text"><%= user.name %></p>
    <p class="card-text"><%= user.email %></p>
  </div>
</div>