<div class="card" id="<%= dom_id post %>">
  <h5 class="card-header"><%= User.find(post.user_id).username %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <%= link_to post, class: "btn btn-outline-primary" do %>
      <i class="bi bi-eye-fill"></i>
    <% end %>
    <%= link_to post, class: "btn btn-outline-primary" do %>
      <i class="bi bi-chat-dots"></i>
    <% end %>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-success">
        <i class="bi bi-caret-up-square"></i>
        <%= post.upvotes %></button>
      <button type="button" class="btn btn-outline-danger">
        <i class="bi bi-caret-down-square"></i>
        <%= post.downvotes %></button>
    </div>
  </div>
</div>