<div class="card" id="<%= dom_id post %>">
  <h5 class="card-header"><i class="bi bi-person-circle"></i>&nbsp;<% if user = User.find_by(id: post.user_id) %><%= user.username %><% end %><span class="text-muted" style="--bs-text-opacity: .5;">&nbsp;•&nbsp;<%= time_ago_in_words(post.created_at) %> ago</span></h5>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <%= link_to post, class: "btn btn-outline-primary" do %>
      <i class="bi bi-eye"></i>&nbsp;View
    <% end %>
    <% if current_user && current_user.id == post.user_id %>
      <%= link_to edit_post_path(post), class: "btn btn-outline-secondary" do %>
        <i class="bi bi-pencil-square"></i>&nbsp;Edit
      <% end %>
      <%= link_to post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" do %>
        <i class="bi bi-trash"></i>&nbsp;Delete
      <% end %>
    <% end %>
  </div>
</div>
